<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login-content">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h4>Hello Admin <%= user.firstName%></h4>
                        <div class="line"></div>
                    </div>
                    <div class="section-heading" style="margin-top: 7rem ;">
                        <a href="/admin/changepassword" class="btn vizew-btn w-100 mt-30 border">Change password</a>
                        <a href="/admin/addBlog" class="btn vizew-btn w-100 mt-30 border">Add blog</a>
                        <a href="/admin/blogsmanag" class="btn vizew-btn w-100 mt-30 border">Blog Management</a>
                        <a href="/admin/personalinfo" class="btn vizew-btn w-100 mt-30 border">Change Personal
                            Information</a>
                        <a href="/admin/usersmanag" class="btn vizew-btn w-100 mt-30 border">Users Management</a>
                        <a href="/auth/logout" class="btn vizew-btn w-100 mt-30 border">Log out</a>
                        <!-- <a href="/useradmin" class="btn vizew-btn w-100 mt-30 border"> Direct me as user admin</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>