<div class="vizew-login-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="login-content">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h4>Create account</h4>
                            <div class="line"></div>
                        </div>
                        <form  action="/auth/register" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="firstNamee" name="firstName"
                                    placeholder="Enter Your First Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="lastNamee" name="lastName"
                                    placeholder="Enter Your Last Name" required>
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" id="dateOfBirthee" name="dateOfBirth"
                                    placeholder="Your Date of Birth" required>
                            </div>
                            <div class="form-group" >
                            
 <label class="form-control" id="Genderee" name="gender"> Gender  &nbsp; &nbsp;  &nbsp;&nbsp; &nbsp; 
  <input type="radio" name="gender" value="male" > Male
  <input type="radio" name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Other
  
</label>


                                <!-- <%# <input type="checkbox" class="form-control" id="gender" name="gender"
                                    placeholder="Gender"> %> -->
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="chooseUserNameee" name="chooseUserName"
                                    placeholder="Choose Username" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1ee" name="emailname"
                                    placeholder="Email" required>
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" id="phoneNumberee" name="phoneNumber"
                                    placeholder="Type Your Phone Number" required>
                            </div>
                            
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1ee" name="passwordname"
                                    placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword2ee" name="confirmPassword"
                                    placeholder="Re-write Password" required>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizingee">
                                    <label class="custom-control-label" for="customControlAutosizing">Remember
                                        me</label>
                                </div>
                            </div>
                            <%if(type){%>
                                <input type="submit" value="ADD" class="btn vizew-btn w-100 mt-30">
<%}else{%>
                            <input type="submit" value="Sign up" class="btn vizew-btn w-100 mt-30">
                            <%}%>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>